body {
    background-color: lightblue;
}

.hello {
    color: red;
    font-weight: bold;
}

.redcenter {
   color: red;
   font-weight: bold;
   text-align: center; 
}

.purpleleft {
    color:purple;
    font-weight: bold;
    text-align: left;
}

#uniquecolorfont {
    color:yellow;
}

/* p {
   color: red;
   text-align: center; 
} */